{% extends 'base.html' %}
{% load i18n %}

{% block html_title %}OpenRelay / {{ title }}{% endblock %}

{% block content %}
    <table class="bordered-table zebra-striped">
        <thead>
            <tr>
                <th>{% trans 'ID' %}</th>
                <th>{% trans 'User IDs' %}</th>
                <th>{% trans 'Links' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.key_id }}</td>
                    <td>{{ object.user_ids }}</td>
                    <td><a href="{% url key_delete object.fingerprint object.type %}">{% trans 'Delete' %}</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="99">{% trans 'There are no keys available.' %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

