{% extends 'base.html' %}
{% load i18n %}
{% block html_title %}OpenRelay{% endblock %}

{% block content %}
    <img style="display: block; margin-left: auto; margin-right: auto;" src="{{ STATIC_URL }}images/1043922_51054240.jpg"/>
    <h2 style="text-align: center;">{% trans 'Peer to peer based web hosting solution' %}</h2>
{% endblock %}
{% block footer %}
    <div id="footer">
        <div class="block">
            <p>{% trans 'Copyright &copy; 2012 Steven Richards, Roberto Rosario' %}</p>
        </div>
    </div>
{% endblock %}
