{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Resource list (detailed)' %}{% endblock %}

{% block content %}
    <table class="bordered-table zebra-striped">
        <thead>
            <tr>
                <th>{% trans 'UUID (database)' %}</th>
                <th>{% trans 'UUID (verified)' %}</th>
                {#<th>{% trans 'Metadata' %}</th>#}
                <th>{% trans 'Exists in storage' %}</th>
                <th>{% trans 'Is valid?' %}</th>
                <th>{% trans 'Signature status' %}</th>
                <th>{% trans 'Timestamp' %}</th>
                <th>{% trans 'Timestamp (raw)' %}</th>
                <th>{% trans 'MIME type' %}</th>
                <th>{% trans 'Encoding' %}</th>
                <th>{% trans 'Signee' %}</th>
                <th>{% trans 'Links' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object }}</td>
                    <td>{{ object.real_uuid }}</td>
                    {#<td>{{ object.metadata }}</td>#}
                    <td>{{ object.exists }}</td>
                    <td>{{ object.is_valid }}</td>
                    <td>{{ object.signature_status }}</td>
                    <td>{{ object.timestamp }}</td>
                    <td>{{ object.raw_timestamp }}</td>
                    <td>{{ object.mimetype.0 }}</td>
                    <td>{{ object.mimetype.1 }}</td>
                    <td>{{ object.username }}</td>
                    <td><a href="{{ object.get_absolute_url }}">{% trans 'Serve' %}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

