{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Resource list' %}{% endblock %}

{% block content %}
    <table class="bordered-table zebra-striped">
        <thead>
            <tr>
                <th>{% trans 'Publisher' %}</th>
                <th>{% trans 'Filename' %}</th>
                <th>{% trans 'Label' %}</th>
                <th>{% trans 'Description' %}</th>
                <th>{% trans 'Links' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.username }}</td>
                    <td>{{ object.metadata.filename }}</td>
                    <td>{{ object.metadata.label }}</td>
                    <td>{{ object.metadata.description }}</td>
                    <td>
                        <a href="{% url resource_serve object.uuid %}">{% trans 'Serve' %}</a>
                        <a href="{% url resource_details object.uuid %}">{% trans 'Details' %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

