{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Resource details' %}{% endblock %}

{% block content %}
    <table class="bordered-table zebra-striped">
        <thead>
            <tr>
                <th>{% trans 'UUID (database)' %}</th>
                <th>{% trans 'UUID (verified)' %}</th>
                <th>{% trans 'Signee' %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ object_list.0 }}</td>
                <td>{{ object_list.0.real_uuid }}</td>
                <td>{{ object_list.0.username }}</td>
            </tr>
        </tbody>
    </table>

    <h2>{% trans 'Versions (newest to oldest)' %}</h2>

    <table class="bordered-table zebra-striped">
        <thead>
            <tr>
                <th>{% trans 'Timestamp' %}</th>
                <th>{% trans 'Timestamp (raw)' %}</th>
                <th>{% trans 'Metadata' %}</th>
                <th>{% trans 'Exists in storage' %}</th>
                <th>{% trans 'Is valid?' %}</th>
                <th>{% trans 'Signature status' %}</th>
                <th>{% trans 'MIME type' %}</th>
                <th>{% trans 'Encoding' %}</th>
                <th>{% trans 'Links' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.timestamp }}</td>
                    <td>{{ object.raw_timestamp }}</td>
                    <td>
                        <ul>

                        {% for key, value in object.metadata.items %}
                        <li>{{ key }}: {{ value }}</li>
                        
                        
                        {% endfor %}
                        </ul>
                    
                    </td>
                    <td>{{ object.exists }}</td>
                    <td>{{ object.is_valid }}</td>
                    <td>{{ object.signature_status }}</td>
                    <td>{{ object.mimetype.0 }}</td>
                    <td>{{ object.mimetype.1 }}</td>
                    <td><a href="{{ object.get_absolute_url }}">{% trans 'Serve' %}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

